<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.agencianextdigital.aplicativodevotao">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Resultado"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Finaliza"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Validacao"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Principal"
            android:screenOrientation="landscape"/>
    </application>

</manifest>